{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "airbnb-base",
    "eslint:recommended",
    "plugin:jest/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "jest"
  ],
  "settings": {
    "ignorePatterns": [
      "/src/client"
    ],
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    },
    "import/extensions": [
      ".js",
      ".ts"
    ]
  },
  "rules": {
    "no-console": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "ts": "never"
      }
    ],
    "no-underscore-dangle": ["error", { "allow": ["_id", "__v"] }]
  }
}